<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="main-content">
       {{>header}}
       <p>This site was created by Brice Grelet. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" alt="Brice" src="/img/portrait-2-square.jpg"/>
    </div>
    {{>footer}}
</body>
</html>